<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey 2nd Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body>
    <div class="container justify-content-center align-items-center d-flex">
        <form action="/back">
            <p>Name: {{session.your_name}}</p>
            <p>Location: {{session.location}}</p>
            <p>Favorite Language: {{session.favorite_language}}</p>
            <p>Comment: {{session.comment}}</p>
            <button>Back</button>
        </form>
    </div>
</body>

</html>