
.row{
    display: flex;
}
.col{
    display: flex;
    flex: 1;
    padding: 20px;
    margin: 10px;
    background-color: seagreen;
} 
.col-2{
    flex: 2;
    padding: 20px;
    margin: 10px; 
    background-color: seagreen;
}
.col-3{
    flex: 3;
    padding: 20px;
    margin: 10px;
    background-color: seagreen;
}