.black{
    background-color: black;
    width: 900px;
    height: 250px;
}
.red{
    background-color: red;
    width: 900px;
    height: 250px;
}
.yellow{
    background-color: gold;
    width: 900px;
    height: 250px;
}