<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>HTML Table</title>
</head>

<body>
    <div class="container">
        <table class="table table-bordered">
            <tr class="table-dark">
                <th>First Name</th>
                <th>Last Name</th>
                <th>Full Name</th>
            </tr>
            {%for user in list_of_users %} {# now we create an iterative variable for list_of_users from server.py to iterate through our for loop #}
            <tr class="table-primary">
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.first_name}} {{user.last_name}} </td>
            </tr>
            {% endfor %}
        </table>
    </div>

</body>

</html>